.works {
  background-color: #fff;
}

.works__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.works__title {
  a {
    color: @body-color;
    position: relative;
    background-size: 0% 2px;
    background-position: 0% 80%;

    &:hover {
      background-size: 100% 2px;
    }
  }

  .icon {
    vertical-align: baseline;
    margin-left: 0.4em;
  }

  svg {
    @media (max-width: @breakpoint-md - 1px) {
      width: 16px;
      height: 16px;
    }
  }

  @media (max-width: @breakpoint-md - 1px) {
    margin-bottom: 40px;
  }
}

.works__item {
  @media (min-width: @breakpoint-lg) {
    width: 33.33%;
  }

  &--large {
    @media (min-width: @breakpoint-lg) {
      width: 66.66%;
    }
  }
}
